@page "/"
@inject IJSRuntime JS

<h1 id = "NK">hhhhh</h1>
<div id="calendar" class = "grid">

    <div class = "header">

        <span id="month-prev" class="pointer">&lt;</span>

        <h1 id="month"></h1>

        <span id="month-next" class="pointer">&gt;</span>

    </div>

    <div id="days" class ="subheader"></div>

    <div id="calendar-body" class ="intGrid"></div>

</div>

<div id = "day-schedule"  class = "grid">
    <div class = "header">
        <span id="day-prev" class="pointer">&lt;</span>
        <h1 id = "date">hh</h1>
        <span id="day-next" class="pointer">&lt;</span>
    </div>

    <div id = "day-schedule-header" class ="subheader"></div>
    <div id = "day-schedule-body" class ="intGrid"></div>
</div>

<style>
    body {
    font-family: Arial, sans-serif;
}

#NK{
    color: #999999
}
.grid {
    width: 100%;
    margin: 0 auto;
}

#calendar{max-width: 100%; margin: 5px;}
#day-schedule{max-width: 100%; margin: 5px;}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    
}

.subheader {
    display: flex;
    justify-content:  space-evenly;
    padding: 1px;
    background-color: #333;
    color: #fff;
}


#day-schedule-header div {
    align-items: center;

}

.intGrid{
    display: grid;
    gap: 1px;
    background-color: #333;
    transition: opacity 0.25s ease;
    opacity: 1;
}
#calendar-body {
    grid-template-columns: repeat(7, 1fr);
}

#day-schedule-body{
    height :400px;
    overflow-y: scroll;
    grid-template-columns: repeat(8,1fr);
}

#calendar-body.fade-out {
    opacity: 0;
}

.intGrid div {
    padding: 20px;
    background-color: #999999;
    text-align: center;
    cursor: pointer;
}
.intGrid div.timePartition 
{    background-color: #333;
    color: #fff;}
#calendar-body div.outOfMonth {
    background-color: #555555;
    color: #fff;
}


#calendar-body div.today {
    background-color: #aaaaaa;
    color: #fff;
}

.intGrid div:hover{
    background-color: #cccccc;
}


.pointer {
    cursor: pointer;
}
</style>

@code{
    protected override async Task OnAfterRenderAsync(bool firstRender){

        await JS.InvokeVoidAsync("alert","skinning myself");
        
    }
}

